@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: #DDC3A5;
}

h1, h2 {
    font-family: Playfair Display, sans-serif;
    font-weight: 350;
    text-transform: uppercase;
    color: #201E20;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    letter-spacing: 2px;
    word-spacing: 1px;
}

#menu {
    font-size: 130%;
    color: #201E20;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #201E20;
}

.active {
    border-bottom: 1px solid #201E20;
}

#welcome {
        height: 600px;
        width: 100%;
        overflow: hidden;
    
        position: relative;
    }
    


#main-back {
    height: 500px;
    width: 100%;
    background: url('../css/images/main-back.jpg') center no-repeat;
    background-size: cover;
}

#welcome-text, h2 {
    background-color: #201E20;
    color: #DDC3A5;
    text-align: right;
    padding: 10px;
}

#about-us {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}



#light-about {
height: 500px;
width: 100%;
background: url('../css/images/light.jpg') center no-repeat;
background-size: cover;
}

footer {
    height: 70px;
}

.social-networks {
    text-align: center;
    background-color: #201E20;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: #E0A96D;
}

/* Hex codes: Beige #DDC3A5, Black-brown #201E20, Tan #E0A96D */
